.tileContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80px;
  height: 80px;
  pointer-events: all;
}

.tile {
  border: 0.5px solid var(--app-color-grid-line);

  transition: all 0.5s ease 1s;

  &:hover {
    background-color: var(--app-color-dark);
    border-radius: 0.25rem;
    transition: all 0s ease 0s;
    box-shadow: 5px 5px 0px var(--app-color-grid-line);
    transform: translate(-5px, -5px);
  }
}
