.allPostsContainer {
  padding: 10px;
  width: fit-content;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.articleContainer {
  padding: 10px;
  max-width: 62rem;
  position: relative;
  border-radius: 0.55rem;
  width: 100%;

  color: var(--app-color-light);
  margin: 10px;

  word-break: keep-all;

  display: flex;
  align-items: flex-end;
  font-size: 0.85rem;
  gap: 0.5rem;
}

.articleTitle {
  white-space: nowrap;
  text-overflow: ellipsis;

  position: relative;

  &:hover {
    color: hsla(var(--app-color-light-hsl), 0.5);
    text-decoration: underline;
  }
}

.articleDescription {
  white-space: nowrap;

  text-overflow: ellipsis;

  max-width: 25rem;

  font-size: 0.75rem;
  color: hsla(var(--app-color-light-hsl), 0.5);

  display: none;
}

@media (max-width: 1000px) {
  .articleDescription {
    display: none;
  }

  .articleContainer {
    font-size: 0.7rem;
  }
}

.articleDate {
  float: right;

  color: hsla(var(--app-color-light-hsl), 0.5);
}

.divider {
  flex: 1;
  flex-grow: 1;
  background-color: aliceblue;
  height: 1px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  background-color: hsla(var(--app-color-light-hsl), 0.5);
}

.mousefollow {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;

  background-color: hsla(var(--app-color-light-hsl), 0.5);
}

.highlight {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--app-color-light-hsl), 0.5);
}
