.container {
  padding: 1rem;

  column-count: 4;

  column-gap: 10px;

  div {
    margin: 0;

    break-inside: avoid;

    margin-bottom: 1rem;

    display: flex;

    flex-direction: column;

    gap: 0.5rem;
  }

  div > img {
    border-radius: 1rem;
  }

  div a {
    text-decoration: none;
  }

  span {
    background-color: hsla(var(--app-color-light-hsl), 0.1);

    color: var(--app-color-light);

    border-radius: 1rem;

    justify-self: start;

    width: 100%;

    padding: 0.5rem;
  }

  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
}

@media (max-width: 720px) {
  .container {
    column-count: 2;

    column-gap: 10px;

    font-size: 0.75rem;
  }
}
