.postLink {
  color: var(--app-color-dark);

  background-color: hsla(var(--app-color-light-hsl), 1);

  border-radius: 0.5rem;

  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  text-align: center;

  font-size: 0.85rem;

  &:hover {
    background-color: hsla(var(--app-color-light-hsl), 0.9);
  }
}

.container {
  padding: 1rem;

  column-count: 5;

  column-gap: 10px;

  .work {
    margin: 0;

    break-inside: avoid;

    display: flex;

    flex-direction: column;

    gap: 0.5rem;
    margin-bottom: 10px;
  }

  img {
    border-radius: 1rem;
    border: 2px solid hsla(var(--app-color-light-hsl), 0.4);
  }

  video {
    overflow: hidden;
    border-radius: 1rem;
    border: 2px solid hsla(var(--app-color-light-hsl), 0.4);
  }

  div a {
    text-decoration: none;
  }

  span {
    background-color: hsla(var(--app-color-light-hsl), 0.1);

    color: var(--app-color-light);

    border-radius: 1rem;

    justify-self: start;

    width: 100%;
  }

  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
}

@media (max-width: 720px) {
  .container {
    column-count: 2;

    column-gap: 10px;

    font-size: 0.75rem;
  }
}
